<%- include("partials/header") -%>

<form class="" action="/compose" method="post">
  <h1>Compose</h1>

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="articleHeading">

    <label>Post</label>
    <textarea class="form-control" name="articlePara" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary pubbut">Publish</button>

</form>


<%- include("partials/footer") -%>
